/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit !important;
  text-decoration: none !important; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  outline: none;
  border: none; }

iframe {
  width: 100%;
  height: auto; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

.header,
.main,
.footer {
  margin: 0 auto; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.header {
  background: #eaeae9; }
  .header__top {
    height: 45px;
    line-height: 45px;
    color: #9a9a98;
    background: #fff; }
    .header__top .container {
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important; }
  .header__cn {
    text-transform: uppercase;
    color: #000;
    font-family: "Helvetica", sans-serif;
    font-size: 18px; }
  .header__nav {
    background: #eaeae9;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 40px 0;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .header__burger {
    font-size: 25px !important;
    cursor: pointer;
    margin: 20px auto;
    display: none !important;
    z-index: 999; }
  .header__menu, .header__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .header__menu__item, .header__icons__item {
      margin: 0 15px;
      text-transform: uppercase;
      color: #000;
      font-size: 18px; }
      .header__menu__item--search, .header__icons__item--search {
        position: absolute; }
  .header__logo {
    max-width: 200px;
    overflow: hidden;
    width: 100%; }
    .header__logo img {
      width: 100%; }
  .header__search {
    position: relative; }
    .header__search__input {
      border-bottom: 1px solid #a1a1a1;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      position: absolute;
      top: 100%;
      right: 0;
      background: transparent;
      width: 0;
      height: 0;
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      outline: none; }
      .header__search__input--active {
        height: 30px;
        right: 0;
        opacity: 1;
        width: 300px;
        position: absolute; }
    .header__search__scope {
      cursor: pointer; }
    .header__search__close {
      font-size: 18px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      display: none; }

.main {
  min-height: calc(100vh - 283px);
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background: #eaeae9;
  max-height: 650px;
  height: 100%;
  padding-top: 100px;
  overflow: hidden; }
  .intro__article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 100px 60px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: url("../img/grape.png") bottom right no-repeat #fff; }
  .intro__title {
    font-size: 50px;
    font-family: serif; }
    .intro__title span {
      font-size: 55px;
      text-transform: uppercase; }
  .intro__txt {
    color: #9a9a98;
    font-size: 18px;
    margin: 30px 0;
    font-weight: lighter; }
  .intro__cta {
    text-transform: uppercase;
    color: #fff !important;
    background: #000;
    padding: 15px 25px;
    font-size: 20px; }
  .intro__banner {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    bottom: 0;
    position: relative; }
    .intro__banner img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.services {
  padding: 50px 0;
  background: #eaeae9; }
  .services__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .services__img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    background: -webkit-radial-gradient(#C81B14, #440f09);
    background: -o-radial-gradient(#C81B14, #440f09);
    background: radial-gradient(#C81B14, #440f09);
    margin: 30px 0; }
    .services__img img {
      max-height: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .services__number {
    font-size: 55px;
    font-family: serif;
    color: #000; }
  .services__title {
    font-size: 22px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #000; }

.main .video {
  background: rgba(0, 0, 0, 0.8) url("../img/grape02.png") bottom right no-repeat;
  background-size: auto 80%;
  padding: 50px 0;
  position: relative; }
  .main .video .container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .main .video__frame {
    position: relative;
    max-width: 480px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url("../img/video.jpg") no-repeat center;
    background-size: 100%; }
    .main .video__frame:before {
      content: "\f04b";
      font-family: "FontAwesome", serif;
      font-size: 60px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .main .video__frame:hover .video__frame:before {
      content: "";
      font-size: 70px; }
  .main .video__article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main .video__article__title {
      font-size: 55px;
      font-family: serif;
      color: #fff;
      text-align: center; }
    .main .video__article__subTitle {
      font-size: 25px;
      font-family: sans-serif;
      color: #cacaca;
      font-weight: lighter;
      display: block; }
  .main .video__cta {
    bottom: 0;
    font-size: 20px;
    color: #fff !important;
    padding: 15px 15px;
    background: #6f170f;
    text-transform: uppercase;
    position: absolute;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 1; }

.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 400px;
  position: relative; }
  .testimonial__banner, .testimonial__article {
    position: relative;
    width: 50%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .testimonial__article {
    text-align: center;
    padding: 100px 50px 50px; }
  .testimonial__title {
    font-size: 55px;
    font-family: serif; }
  .testimonial__person {
    position: relative;
    color: #90908e; }
  .testimonial__banner {
    background: url("../img/testimonial.jpg") no-repeat;
    background-size: cover; }

.order__title {
  font-size: 35px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto;
  font-family: serif; }

.order__account {
  margin: 0 auto;
  text-align: center; }

.order__btn {
  color: #fff !important;
  background: #000;
  display: inline-block;
  max-width: 300px;
  width: 100%;
  padding: 8px;
  margin: 15px auto;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .order__btn--apply {
    width: auto;
    padding: 5px 20px;
    margin-left: 20px; }

.order__form {
  margin: 50px 0; }

.product__list {
  max-width: 800px;
  padding-left: 100px;
  text-transform: uppercase;
  margin: 50px 0; }

.product__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  line-height: 50px;
  border-bottom: 1px solid; }
  .product__menu__item {
    padding: 0 50px; }
    .product__menu__item:last-child {
      border-left: 1px solid;
      padding-left: 50px;
      width: 100%; }

.product__number {
  margin-right: 100px;
  padding: 0 20px;
  background: #000;
  color: #fff;
  font-size: 25px; }

.product__form {
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .product__form__item {
    padding: 50px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    .product__form__item:first-child {
      margin-left: 100px; }
    .product__form__item:last-child {
      border-left: 1px solid;
      padding-left: 50px;
      width: 100%;
      padding-right: 0; }

.product__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  width: 254px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.product__settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.product__bottle {
  width: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 0;
  padding-right: 0; }
  .product__bottle img {
    width: 50px;
    margin: 0 61px;
    height: auto; }

.product__quantity {
  width: 100px;
  text-align: center; }

.product__remove {
  width: auto;
  margin: 0 10px 0 0;
  padding: 0 5px;
  font-size: 15px; }

.product__check {
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center; }

.ship__item {
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  color: #000; }

.ship__title {
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  font-family: sans-serif; }

.ship__input {
  display: inline-block;
  padding: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  text-transform: capitalize;
  margin: 5px 0; }
  .ship__input--apply {
    width: auto; }

.ship__label {
  display: block;
  font-size: 18px;
  margin: 10px 0;
  text-transform: capitalize; }

.ship__check {
  margin-right: 15px;
  visibility: hidden;
  position: relative;
  cursor: pointer; }
  .ship__check:before {
    content: '';
    visibility: visible;
    display: inline-block;
    line-height: 22px;
    width: 22px;
    height: 22px;
    border: 1px solid;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    position: relative; }
  .ship__check:checked:before {
    content: "\f00c";
    font-family: "FontAwesome", serif; }

.ship__submit {
  border: none;
  text-transform: uppercase;
  color: #fff !important;
  background: #9c1a1a;
  padding: 5px 20px;
  font-size: 18px;
  margin: 10px 0; }

.summery__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 0;
  color: #a7a7a7; }
  .summery__order__item {
    -webkit-flex-basis: 100px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px; }
  .summery__order--title {
    text-transform: uppercase;
    font-weight: 600;
    color: #000; }

.createWine {
  padding-bottom: 30px; }

.bottle {
  max-width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .bottle__txt {
    font-size: 14px;
    margin: 15px 0; }
  .bottle__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-height: 400px;
    vertical-align: top;
    padding: 20px; }
  .bottle .slider {
    -webkit-appearance: none;
    width: 85%;
    margin: 10px 0;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    border-radius: 25px; }
    .bottle .slider-input {
      width: 10%;
      text-align: right;
      outline: none;
      border: none;
      font-size: 25px;
      font-family: serif; }
    .bottle .slider__name {
      display: block;
      font-family: serif;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold; }
  .bottle .slider .ui-state-default, .bottle .ui-widget-content .ui-state-default {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.83), 0 0 1px rgba(13, 13, 13, 0.83);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.83), 0 0 1px rgba(13, 13, 13, 0.83);
    height: 20px;
    width: 20px;
    padding: 3px;
    border-radius: 50%;
    background: #eaeae9;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    margin-top: -5px; }
  .bottle__label {
    width: 100%;
    display: block;
    margin: 15px 0; }
  .bottle__img {
    max-width: 115px;
    width: 100%;
    position: relative;
    max-height: 400px;
    height: 100%;
    overflow: hidden;
    display: inline-block; }
    .bottle__img img {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      z-index: 1;
      overflow: hidden; }
  .bottle__fill {
    position: absolute;
    width: 100%;
    min-height: 0;
    max-height: 72%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.7; }
    .bottle__fill--bodied {
      background: #db2218; }
    .bottle__fill--sweet {
      background: #aa2015; }
    .bottle__fill--fruit {
      background: #6b150e; }
    .bottle__fill--fool {
      background: #40110f;
      z-index: -1; }
  .bottle #s-1 .ui-widget-header {
    background: #b42418; }
  .bottle #s-2 .ui-widget-header {
    background: #861a11; }
  .bottle #s-3 .ui-widget-header {
    background: #6b150e; }

.style {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding-left: 50px; }
  .style .order__title {
    text-align: left;
    display: inline-block;
    margin: 15px 0;
    text-transform: capitalize;
    font-size: 30px; }
  .style__graphic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0; }
    .style__graphic__img {
      width: 200px;
      height: 200px;
      position: relative;
      left: 50px; }
      .style__graphic__img img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 0; }
    .style__graphic__type {
      position: absolute;
      width: 100%;
      text-transform: capitalize;
      font-size: 18px; }
      .style__graphic__type:first-child {
        top: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        text-align: center; }
      .style__graphic__type:nth-child(2) {
        right: -100%;
        text-align: left;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .style__graphic__type:nth-child(3) {
        bottom: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        text-align: center; }
      .style__graphic__type:nth-child(4) {
        right: 100%;
        text-align: right;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
    .style__graphic__list__item {
      font-size: 18px;
      margin: 5px 0; }
      .style__graphic__list__item:first-child:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 2px;
        background: #ad1a0e;
        margin-right: 20px; }
      .style__graphic__list__item:nth-child(2):before {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 2px;
        background: #000;
        margin-right: 20px; }
  .style__compare__label {
    padding: 8px 5px;
    border: 2px solid;
    text-align: center;
    font-size: 18px;
    margin: 0 15px;
    text-transform: capitalize;
    display: inline-block; }
  .style__compare__btn {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
    background: #ededed;
    border: none; }

.graphic__lines {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 98%;
  height: 98%; }

.createLabel {
  background: #eaeae9;
  padding-bottom: 50px;
  position: relative; }
  .createLabel .order__btn {
    position: relative;
    height: 50px;
    display: block;
    line-height: 50px;
    padding: 0 8px;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
    z-index: 1; }

.sticker {
  max-width: 60%;
  width: 100%;
  padding-right: 60px;
  border-right: 1px solid; }
  .sticker__title {
    margin-top: 0;
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sticker__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .sticker__item {
    width: 120px;
    margin: 10px 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .sticker__item__img {
      width: 100%;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative; }

.selected {
  max-width: 40%;
  width: 100%;
  padding-left: 60px;
  margin-bottom: 20px; }
  .selected__img {
    width: auto;
    height: 400px; }
    .selected__img__item {
      height: 100%;
      width: auto; }

.placeOrder .container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.placeOrder__bottle {
  min-height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .placeOrder__bottle__img {
    width: auto;
    height: 100%; }
  .placeOrder__bottle__label {
    max-width: 90%;
    position: absolute;
    max-height: 50%;
    top: 50%;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.placeOrder__article {
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  padding: 0 50px; }
  .placeOrder__article .order__title {
    font-size: 30px;
    text-transform: capitalize;
    text-align: left; }

.placeOrder__testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .placeOrder__testimonial__img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    position: relative; }
    .placeOrder__testimonial__img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .placeOrder__testimonial__txt {
    max-width: 70%; }

.placeOrder__form__span {
  display: block;
  text-transform: uppercase; }

.placeOrder__form__txt {
  margin: 15px 0; }

.placeOrder__form__input {
  display: inline-block;
  padding: 5px;
  width: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  text-transform: capitalize;
  margin: 5px 0; }

.placeOrder__form .order__btn {
  width: auto;
  padding: 5px;
  margin-left: 10px; }

.placeOrder__form__link {
  display: block;
  text-decoration: solid; }

.placeOrder__feels {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#ededed), to(#fff));
  background: -webkit-linear-gradient(#fff, #ededed, #fff);
  background: -o-linear-gradient(#fff, #ededed, #fff);
  background: linear-gradient(#fff, #ededed, #fff);
  padding: 15px; }
  .placeOrder__feels .order__title {
    font-size: 30px;
    text-transform: capitalize;
    text-align: left; }
  .placeOrder__feels__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 15px 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .placeOrder__feels__number {
    font-size: 20px;
    color: #fff;
    padding: 0 9px;
    line-height: 30px;
    border-radius: 100%;
    background: #000;
    display: block;
    margin-right: 10px;
    text-align: center; }

.placeOrder__order__btn {
  position: relative;
  height: 50px;
  display: block;
  line-height: 50px;
  padding: 0 8px;
  text-align: center;
  margin: 0 auto 50px; }

.my__account {
  max-width: 340px;
  margin: 0 auto; }
  .my__account .order__btn {
    width: auto;
    margin: 0 15px; }

.account__input {
  max-width: 240px;
  width: 100%;
  padding: 8px;
  margin: 15px auto;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #000;
  background: transparent; }

.footer {
  position: relative;
  padding: 30px 0;
  background: #232323;
  text-transform: uppercase;
  font-size: 20px;
  bottom: 0;
  line-height: 35px;
  color: #fff;
  font-family: serif;
  font-weight: normal;
  bottom: 0; }
  .footer__menu {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footer__item {
    margin-right: 30px; }

@media (max-width: 1200px) {
  .container {
    padding: 0 50px; }
  .header__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 40px 50px; } }

@media (max-width: 1024px) {
  .container {
    padding: 0 30px; }
  .header__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 40px 30px; }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%; }
    .intro__article {
      padding-bottom: 30px; }
    .intro__banner {
      overflow: hidden;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-height: 500px;
      min-height: 350px; }
      .intro__banner img {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); } }

@media (max-width: 960px) {
  .container {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .bottle,
  .style,
  .sticker,
  .selected {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    overflow: hidden; }
  .style__graphic__img {
    left: 0;
    margin-bottom: 30px; }
  .bottle__img {
    margin: 20px 0; }
  .bottle, .style__graphic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .product__list {
    padding-left: 20px; }
  .product__number {
    margin-right: 63px; } }

@media (max-width: 768px) {
  .header__burger {
    display: block !important; }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding: 20px 0 0; }
    .header__nav__mobile {
      -webkit-box-align: center !important;
      -webkit-align-items: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
      height: 100% !important;
      opacity: 1 !important;
      width: 100%; }
  .header__menu {
    display: none;
    position: relative;
    padding: 10px;
    text-align: center;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .header__menu__item {
      display: block;
      width: 200px;
      background: #fff;
      padding: 3px;
      text-align: center;
      margin: 3px 0; }
  .testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .testimonial__article, .testimonial__banner {
      width: 100%;
      min-height: 200px; }
  .product__list {
    padding-left: 20px; }
  .product__number {
    margin-right: 20px; }
  .product__form__item:first-child {
    margin-left: 55px; }
  .product__menu__item {
    padding: 0 15px; }
    .product__menu__item:last-child {
      padding: 0 0 0 12px; }
  .product__form__item:first-child {
    margin-left: 0; }
    .product__form__item:first-child img {
      margin: 0; }
  .product__form__item:last-child {
    padding: 50px 0 50px 12px; } }

@media (max-width: 600px) {
  .container {
    padding: 0 15px; } }

@media (max-width: 480px) {
  .container {
    padding: 0 15px; }
  .product__list {
    padding-left: 20px; }
  .product__number {
    margin: 0 auto; }
  .product__menu__item {
    display: none; }
  .product__form__item:last-child {
    padding: 50px 0 50px 12px; }
  .product__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100px; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }
