/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  outline: none;
  border: none;
}

iframe {
  width: 100%;
  height: auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

.header,
.main,
.footer {
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//header

.header {
  background: #eaeae9;

  &__top {
    height: 45px;
    line-height: 45px;
    color: #9a9a98;
    background: #fff;
    .container {
      flex-direction: row !important;

    }
  }
  &__cn {
    text-transform: uppercase;
    color: #000;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
  }
  &__nav {
    background: #eaeae9;
    align-content: center;
    padding: 40px 0;
    flex-wrap: nowrap;
  }
  &__burger {
    font-size: 25px !important;
    cursor: pointer;
    margin: 20px auto;
    display: none !important;
    z-index: 999;
  }
  &__menu,
  &__icons {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    &__item {
      margin: 0 15px;
      text-transform: uppercase;
      color: #000;
      font-size: 18px;
      &--search {
        position: absolute;
      }
    }
  }
  &__logo {
    max-width: 200px;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__search {
    position: relative;
    &__input {
      border-bottom: 1px solid #a1a1a1;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      position: absolute;
      top: 100%;
      right: 0;
      background: transparent;
      width: 0;
      height: 0;
      opacity: 0;
      transition: 0.5s;
      outline: none;
      &--active {
        height: 30px;
        right: 0;
        opacity: 1;
        width: 300px;
        position: absolute;
      }
    }
    &__scope {
      cursor: pointer;
    }
    &__close {
      font-size: 18px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
    }
  }
}

//page--home
.main {
  min-height: calc(100vh - 283px);
  height: 100%;
  box-sizing: border-box;
}

//intro
.intro {
  display: flex;
  align-content: center;
  background: #eaeae9;
  max-height: 650px;
  height: 100%;
  padding-top: 100px;
  overflow: hidden;
  &__article {
    flex: 1;
    padding: 100px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url("../img/grape.png") bottom right no-repeat #fff;
  }
  &__title {
    font-size: 50px;
    font-family: serif;
    span {
      font-size: 55px;
      text-transform: uppercase;
    }
  }
  &__txt {
    color: #9a9a98;
    font-size: 18px;
    margin: 30px 0;
    font-weight: lighter;
  }
  &__cta {
    text-transform: uppercase;
    color: #fff !important;
    background: #000;
    padding: 15px 25px;
    font-size: 20px;
  }
  &__banner {
    flex: 2;
    bottom: 0;
    position: relative;
    img {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//services
.services {
  padding: 50px 0;
  background: #eaeae9;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    background: radial-gradient(#C81B14, #440f09);
    margin: 30px 0;
    img {
      max-height: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__number {
    font-size: 55px;
    font-family: serif;
    color: #000;
  }
  &__title {
    font-size: 22px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #000;
  }
}

//video
.main .video {
  background: rgba(0, 0, 0, 0.8) url("../img/grape02.png") bottom right no-repeat;
  background-size: auto 80%;
  padding: 50px 0;
  position: relative;
  .container {
    align-items: center;
  }
  &__frame {
    position: relative;
    max-width: 480px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url("../img/video.jpg") no-repeat center;
    background-size: 100%;
    &:before {
      content: "\f04b";
      font-family: "FontAwesome", serif;
      font-size: 60px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover .video__frame:before {
      content: "";
      font-size: 70px;
    }

  }

  &__article {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title {
      font-size: 55px;
      font-family: serif;
      color: #fff;
      text-align: center;
    }
    &__subTitle {
      font-size: 25px;
      font-family: sans-serif;
      color: #cacaca;
      font-weight: lighter;
      display: block;
    }
  }

  &__cta {
    bottom: 0;
    font-size: 20px;
    color: #fff !important;
    padding: 15px 15px;
    background: #6f170f;
    text-transform: uppercase;
    position: absolute;
    transform: translateY(50%);
    z-index: 1;
  }

}

//testimonial
.testimonial {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  position: relative;
  &__banner,
  &__article {
    position: relative;
    width: 50%;
    height: auto;
    box-sizing: border-box;
  }
  &__article {
    text-align: center;
    padding: 100px 50px 50px;
  }
  &__title {
    font-size: 55px;
    font-family: serif;
  }
  &__person {
    position: relative;
    color: #90908e;
  }
  &__banner {
    background: url("../img/testimonial.jpg") no-repeat;
    background-size: cover;
  }
}

//pages--order
.order {
  &__title {
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
    font-family: serif;
  }
  &__account {
    margin: 0 auto;
    text-align: center;
  }
  &__btn {
    color: #fff !important;
    background: #000;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    padding: 8px;
    margin: 15px auto;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    &--apply {
      width: auto;
      padding: 5px 20px;
      margin-left: 20px;
    }
  }
  &__form {
    margin: 50px 0;
  }
}

.product {
  &__list {
    max-width: 800px;
    padding-left: 100px;
    text-transform: uppercase;
    margin: 50px 0;
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    border-bottom: 1px solid;
    &__item {
      padding: 0 50px;
      &:last-child {
        border-left: 1px solid;
        padding-left: 50px;
        width: 100%;
      }
    }
  }
  &__number {
    margin-right: 100px;
    padding: 0 20px;
    background: #000;
    color: #fff;
    font-size: 25px;
  }
  &__form {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    &__item {
      padding: 50px;
      box-sizing: content-box;
      &:first-child {
        margin-left: 100px;
      }
      &:last-child {
        border-left: 1px solid;
        padding-left: 50px;
        width: 100%;
        padding-right: 0;
      }

    }
  }
  &__label {
    display: flex;
    margin: 20px 0;
    width: 254px;
    justify-content: space-between;
  }
  &__settings {
    display: flex;
    flex-direction: column;
  }
  &__bottle {
    width: 100%;
    box-sizing: content-box;
    padding-left: 0;
    padding-right: 0;
    img {
      width: 50px;
      margin: 0 61px;
      height: auto;
    }
  }
  &__quantity {
    width: 100px;
    text-align: center;

  }
  &__remove {
    width: auto;
    margin: 0 10px 0 0;
    padding: 0 5px;
    font-size: 15px;
  }
  &__check {
    display: block;
    width: 200px;
    padding: 10px 0;
    text-align: center;
  }
}

.ship {
  &__item {
    flex-basis: 400px;
    color: #000;
  }
  &__title {
    text-transform: uppercase;
    display: block;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-family: sans-serif;
  }
  &__input {
    display: inline-block;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    text-transform: capitalize;
    margin: 5px 0;
    &--apply {
      width: auto;
    }
  }
  &__label {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  &__check {
    margin-right: 15px;
    visibility: hidden;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      visibility: visible;
      display: inline-block;
      line-height: 22px;
      width: 22px;
      height: 22px;
      border: 1px solid;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      position: relative;
    }
    &:checked:before {
      content: "\f00c";
      font-family: "FontAwesome", serif;
    }
  }
  &__submit {
    border: none;
    text-transform: uppercase;
    color: #fff !important;
    background: #9c1a1a;
    padding: 5px 20px;
    font-size: 18px;
    margin: 10px 0;
  }
}

.summery__order {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  color: #a7a7a7;

  &__item {
    flex-basis: 100px;
  }
  &--title {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
  }
}

//page--main-product

//create__wine

.bottle {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  &__txt {
    font-size: 14px;
    margin: 15px 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 400px;
    vertical-align: top;
    padding: 20px;
  }
  .slider {
    -webkit-appearance: none;
    width: 85%;
    margin: 10px 0;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    border-radius: 25px;

    &-input {
      width: 10%;
      text-align: right;
      outline: none;
      background: transparent;
      border: none;
      font-size: 25px;
      font-family: serif;

    }
    &__name {
      display: block;
      font-family: serif;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .slider .ui-state-default, .ui-widget-content .ui-state-default {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.83), 0 0 1px rgba(13, 13, 13, 0.83);
    height: 20px;
    width: 20px;
    padding: 3px;
    border-radius: 50%;
    background: #eaeae9;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  &__label {
    width: 100%;
    display: block;
    margin: 15px 0;
  }
  &__img {
    max-width: 115px;
    width: 100%;
    position: relative;
    max-height: 400px;
    height: 100%;
    overflow: hidden;
    display: inline-block;

    img {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;

    }
  }
  &__fill {
    position: absolute;
    width: 100%;
    min-height: 0;
    max-height: 72%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.7;
    &--bodied {
      background: #db2218;
    }
    &--sweet {
      background: #aa2015;
    }
    &--fruit {
      background: #6b150e;
    }
    &--fool {
      background: #40110f;
      z-index: 0;
    }

  }
  #s-1 .ui-widget-header {
    background: #b42418;
  }
  #s-2 .ui-widget-header {
    background: #861a11;
  }
  #s-3 .ui-widget-header {
    background: #6b150e;
  }
}

.style {
  box-sizing: border-box;
  width: 50%;
  padding-left: 50px;
  .order__title {
    text-align: left;
    display: inline-block;
    margin: 15px 0;
    text-transform: capitalize;
    font-size: 30px;
  }
  &__graphic {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    &__img {
      width: 200px;
      height: 200px;
      position: relative;
      left: 50px;

      img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
    &__type {
      position: absolute;
      width: 100%;
      text-transform: capitalize;
      font-size: 18px;
      &:first-child {
        top: 0;
        transform: translateY(-100%);
        text-align: center;
      }
      &:nth-child(2) {
        right: -100%;
        text-align: left;
        top: 50%;
        transform: translate(0, -50%);
      }
      &:nth-child(3) {
        bottom: 0;
        transform: translateY(100%);
        text-align: center;
      }
      &:nth-child(4) {
        right: 100%;
        text-align: right;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    &__list__item {
      font-size: 18px;
      margin: 5px 0;
      &:first-child:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 2px;
        background: #ad1a0e;
        margin-right: 20px;
      }
      &:nth-child(2):before {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 2px;
        background: #000;
        margin-right: 20px;
      }
    }
  }
  &__compare {
    &__label {
      padding: 8px 5px;
      border: 2px solid;
      text-align: center;
      font-size: 18px;
      margin: 0 15px;
      text-transform: capitalize;
      display: inline-block;

    }
    &__btn {
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      padding: 8px;
      background: #ededed;
      border: none;
    }
  }
}

.graphic__lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 98%;
  height: 98%;
}

//create__label
.createLabel {
  background: #eaeae9;
  padding-bottom: 50px;
  position: relative;
  .order__btn {
    position: relative;
    height: 50px;
    display: block;
    line-height: 50px;
    padding: 0 8px;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    transform: translateY(150%);
    z-index: 1;
  }
}

.sticker {
  max-width: 60%;
  width: 100%;
  padding-right: 60px;
  border-right: 1px solid;
  &__title {
    margin-top: 0;
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;
    justify-content: space-around;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    width: 120px;
    margin: 10px 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &__img {
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
    }
  }
}

.selected {
  max-width: 40%;
  width: 100%;
  padding-left: 60px;
  margin-bottom: 20px;
  &__img {
    width: auto;
    height: 400px;
    &__item {
      height: 100%;
      width: auto;
    }
  }
}

//place__order
.placeOrder {
  .container {
    align-items: center;
  }
  &__bottle {
    min-height: 500px;
    box-sizing: border-box;
    position: relative;
    &__img {
      width: auto;
      height: 100%;
    }
    &__label {
      max-width: 90%;
      position: absolute;
      max-height: 50%;
      top: 50%;
      left: 50%;
      width: auto;
      transform: translateX(-50%);

    }
  }
  &__article {
    flex: 1.5;
    padding: 0 50px;
    .order__title {
      font-size: 30px;
      text-transform: capitalize;
      text-align: left;
    }

  }
  &__testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    &__img {
      max-width: 150px;
      width: 100%;
      height: 150px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 20px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translate(-50%, -50%);
      }
    }
    &__txt {
      max-width: 70%;
    }
  }
  &__form {
    &__span {
      display: block;
      text-transform: uppercase;
    }
    &__txt {
      margin: 15px 0;
    }
    &__input {
      display: inline-block;
      padding: 5px;
      width: 120px;
      box-sizing: border-box;
      border: 1px solid #000;
      text-transform: capitalize;
      margin: 5px 0;
    }
    .order__btn {
      width: auto;
      padding: 5px;
      margin-left: 10px;
    }
    &__link {
      display: block;
      text-decoration: solid;
    }

  }
  &__feels {
    flex: 1;
    background: linear-gradient(#fff, #ededed, #fff);
    padding: 15px;
    .order__title {
      font-size: 30px;
      text-transform: capitalize;
      text-align: left;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      align-items: flex-start;
    }
    &__number {
      font-size: 20px;
      color: #fff;

      padding: 0 9px;
      line-height: 30px;
      border-radius: 100%;
      background: #000;
      display: block;
      margin-right: 10px;
      text-align: center;
    }
  }
  &__order__btn {
    position: relative;
    height: 50px;
    display: block;
    line-height: 50px;
    padding: 0 8px;
    text-align: center;
    margin: 0 auto 50px;
  }
}

//page--account
.my__account {
  max-width: 340px;
  margin: 0 auto;
  .order__btn {
    width: auto;
    margin: 0 15px;
  }
}

.account__input {
  max-width: 240px;
  width: 100%;
  padding: 8px;
  margin: 15px auto;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #000;
  background: transparent;

}

//create__brand
.brandQuantity {
  flex-direction: column;
  justify-content: center;
  &__cta {
    display: flex;
    justify-content: center;
    &__item {
      margin: 15px;
      padding: 5px 10px;
      font-size: 22px;
      font-family: serif;
      color: #fff !important;
      background: #000;
      &:first-child {
        background: #7a1810;
      }
    }
  }
  &__form {
    justify-content: space-around;
    display: flex;
  }
  &__btn {
    width: auto;
    padding: 5px;
  }
  &__input {
    width: 100px;
    border: 2px solid;
    margin: 0 10px;
    padding: 5px;
  }
  &__span {
    text-transform: uppercase;
  }
  &__bottles {
    min-height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
      max-width: 70px;
      width: 100%;
      height: 100%;
      display: inline-block;
      cursor: pointer;
      margin: 20px;
      transition: 0.3s;
      position: relative;
    }
  }
}

.active__bottle {
  transform: scale(1.2);
}

.main__brand {
  .createWine {
    padding: 30px 0;
    background: #eaeae9;
    .placeOrder__order__btn {
      margin: 50px auto -50px;
    }
  }
  .createLabel {
    background: #fff;
    .order__btn {
      width: auto;
    }
  }
  .placeOrder {
    background: linear-gradient(#ededed, #fff) top;
    padding-top: 30px;
  }
}

//footer
.footer {
  position: relative;
  padding: 30px 0;
  background: #232323;
  text-transform: uppercase;
  font-size: 20px;
  bottom: 0;
  line-height: 35px;
  color: #fff;
  font-family: serif;
  font-weight: normal;
  &__menu {
    justify-content: flex-start;
  }
  &__item {
    margin-right: 30px;
  }
}

//mobile

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  .header__nav {
    flex-direction: row;
    padding: 40px 50px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .header__nav {
    flex-direction: row;
    padding: 40px 30px;
  }
  .intro {
    flex-direction: column;
    max-height: 100%;
    &__article {
      padding-bottom: 30px;
    }
    &__banner {
      overflow: hidden;
      flex: 1;
      max-height: 500px;
      min-height: 350px;
      img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }
}

@media (max-width: 960px) {
  .container {
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .bottle,
  .style,
  .sticker,
  .selected {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    overflow: hidden;
  }
  .style__graphic__img {
    left: 0;
    margin-bottom: 30px;
  }
  .bottle__img {
    margin: 20px 0;
  }
  .bottle, .style__graphic {
    flex-direction: column;
    align-items: center;
  }
  .product {
    &__list {
      padding-left: 20px;
    }
    &__number {
      margin-right: 63px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__burger {
      display: block !important;
    }

    &__nav {
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
      padding: 20px 0 0;
      &__mobile {
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;
        height: 100% !important;
        opacity: 1 !important;
        width: 100%;
      }
    }
    &__menu {
      display: none;
      position: relative;
      padding: 10px;
      text-align: center;
      width: auto;
      flex-direction: column;
      height: 0;
      opacity: 0;
      transition: 0.5s;
      &__item {
        display: block;
        width: 200px;
        background: #fff;
        padding: 3px;
        text-align: center;
        margin: 3px 0;
      }
    }
  }
  .testimonial {
    flex-direction: column;
    &__article,
    &__banner {
      width: 100%;
      min-height: 200px;
    }
  }
  .product {
    &__list {
      padding-left: 20px;
    }
    &__number {
      margin-right: 20px;
    }
    &__form__item:first-child {
      margin-left: 55px;
    }
    &__menu__item {
      padding: 0 15px;
      &:last-child {
        padding: 0 0 0 12px;
      }
    }
    &__form__item {
      &:first-child {
        margin-left: 0;
        img {
          margin: 0;
        }
      }
      &:last-child {
        padding: 50px 0 50px 12px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
  .product {
    &__list {
      padding-left: 20px;
    }
    &__number {
      margin: 0 auto;
    }
    &__menu__item {
      display: none;
    }
    &__form__item {
      &:last-child {
        padding: 50px 0 50px 12px;
      }
    }
    &__label {
      flex-direction: column;
      align-items: flex-start;
      width: 100px;
    }
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

