@import url(fonts/metropolis/stylesheet.css);
@import url(fonts/rabbitEars/stylesheet.css);
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit !important;
  text-decoration: none !important; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  outline: none;
  border: none; }

iframe {
  width: 100%;
  height: auto; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

.header,
.main,
.footer {
  margin: 0 auto;
  overflow: hidden; }

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__top {
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #000; }
    .header__top .container {
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important; }
  .header__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__icons__item {
      margin: 0 5px; }
  .header__search {
    margin: 0 5px;
    position: relative; }
    .header__search__input {
      border-bottom: 1px solid #a1a1a1;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      position: relative;
      background: #fff;
      width: 0;
      height: 0;
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      outline: none; }
      .header__search__input--active {
        height: 30px;
        opacity: 1;
        width: 300px;
        position: relative; }
    .header__search__scope {
      cursor: pointer; }
    .header__search__close {
      font-size: 18px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      display: none; }
  .header__logo {
    font-size: 35px; }
  .header__burger {
    color: #000;
    font-size: 30px !important;
    cursor: pointer;
    z-index: 999; }
  .header__nav {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
    .header__nav__container {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 0; }
    .header__nav__active {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      height: auto !important;
      opacity: 1 !important; }
    .header__nav__menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      background: #fff;
      z-index: 5;
      padding: 10px 0; }
      .header__nav__menu__item {
        font-family: "Metropolis", sans-serif;
        color: #000;
        text-transform: capitalize;
        font-size: 20px; }
        .header__nav__menu__item:active, .header__nav__menu__item:hover {
          color: #efc6be; }

.intro {
  position: relative;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: calc(100vh / 1.5);
  background: url("../img/introBanner.jpg") center;
  background-size: cover; }
  .intro .container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .intro:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
  .intro__title, .intro__subTitle, .intro__more {
    font-family: "Metropolis", sans-serif;
    position: relative;
    z-index: 2;
    max-width: 500px;
    text-align: right;
    color: #fff !important;
    display: block; }
  .intro__title {
    margin: calc(100vh * .2) 0 0;
    font-size: calc(50px + 1vw);
    font-weight: normal;
    text-transform: capitalize; }
  .intro__subTitle {
    font-size: 28px;
    font-weight: lighter;
    margin: 25px 0; }
  .intro__more {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize; }

.welcome {
  margin: 60px auto;
  max-height: 680px;
  position: relative;
  overflow: hidden; }
  .welcome__article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    background: #fcfcfc;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 30px 0 10%;
    width: 60%;
    padding: 150px 100px 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .welcome__article:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #efc6be;
      margin: 10px 0 0 10px;
      left: 0;
      top: 0;
      z-index: -1; }
  .welcome__title {
    font-family: "Metropolis", sans-serif;
    text-transform: capitalize;
    font-size: calc(40px + 1vw);
    font-weight: lighter;
    color: #252525; }
    .welcome__title span {
      color: #efc6be;
      margin-top: 60px;
      position: relative;
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      transform: translateX(-30%); }
  .welcome__txt {
    font-family: "Metropolis", sans-serif;
    margin: 20px 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: lighter; }
    .welcome__txt__span {
      font-family: "Metropolis", sans-serif;
      color: #efc6be;
      display: block;
      font-size: 25px;
      text-transform: capitalize;
      margin-bottom: 10px;
      font-weight: bold; }
  .welcome__banner {
    width: auto;
    max-width: 60%;
    position: absolute;
    top: 0;
    z-index: -2;
    right: 0; }
    .welcome__banner img {
      width: 100%;
      height: auto; }

.products {
  background: #f7f7f7; }
  .products--new {
    background: url("../img/ProductsBanner.jpg") center;
    background-size: 120%, auto;
    padding: 50px 0; }
    .products--new .products__title {
      background: transparent;
      color: #fff;
      padding-bottom: 30px; }
      .products--new .products__title span {
        font-weight: bolder; }
    .products--new .products__item__bg {
      height: 200px;
      overflow: hidden; }
    .products--new .products__item__img {
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: 0;
      max-width: 100%; }
    .products--new .products__item__stars {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 22px; }
    .products--new .products__item__price {
      display: block;
      font-size: 22px;
      margin: 5px auto; }
    .products--new .products__item:hover img {
      -webkit-transform: scale(1.05) translate(-50%, 0);
      -ms-transform: scale(1.05) translate(-50%, 0);
      transform: scale(1.05) translate(-50%, 0); }
  .products__title {
    font-size: calc(30px + 1vw);
    color: #000;
    text-transform: uppercase;
    margin: 20px auto;
    font-family: "Metropolis", sans-serif;
    font-weight: lighter;
    text-align: center;
    background: #f7f7f7; }
    .products__title span {
      color: #efc6be;
      font-weight: bold; }
  .products__slider {
    overflow: hidden; }
    .products__slider__item {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      outline: none;
      margin-bottom: 35px; }
  .products__item {
    max-width: 350px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 10px 5px;
    background: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .products__item:hover {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.31); }
    .products__item:hover .products__item__img {
      -webkit-transform: scale(1.05) translate(-50%, -50%);
      -ms-transform: scale(1.05) translate(-50%, -50%);
      transform: scale(1.05) translate(-50%, -50%); }
    .products__item:hover .products__item__options {
      opacity: 1; }
    .products__item__bg {
      width: 100%;
      position: relative;
      height: 300px;
      background: #fff;
      display: inline-block;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      outline: none; }
    .products__item__img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 250px;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .products__item__title {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: normal;
      margin: 5px 0;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      text-align: left; }
    .products__item__price {
      font-weight: bold;
      font-size: 18px;
      margin: 0 5px;
      color: #efc6be; }
    .products__item__options {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-bottom: 1px solid;
      border-top: 1px solid;
      color: #dddddd;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      opacity: 0; }
      .products__item__options li {
        padding: 5px;
        font-size: 18px;
        cursor: pointer; }
        .products__item__options li:hover {
          color: #bfbfbf; }
    .products__item__stars {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 5px auto;
      font-size: 14px; }
      .products__item__stars li {
        padding: 5px;
        color: #efc6be; }
  .products__next, .products__prev {
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    color: #efc6be;
    border: 1px solid;
    padding: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1; }
  .products__prev {
    right: 50px !important; }

.clients {
  margin-bottom: 80px; }
  .clients__title {
    font-family: "Metropolis", sans-serif;
    text-transform: capitalize;
    font-size: calc(40px + 1vw);
    font-weight: lighter;
    color: #252525;
    text-align: center;
    margin: 80px auto; }
    .clients__title span {
      font-weight: bold;
      color: #efc6be;
      margin-top: 60px;
      position: relative;
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      transform: translateX(-30%); }
  .clients__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 375px;
    -ms-flex-preferred-size: 375px;
    flex-basis: 375px;
    height: 650px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }
    .clients__item:nth-of-type(odd) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .clients__item__title {
      text-transform: capitalize;
      font-family: "Metropolis", sans-serif;
      margin-top: 10%;
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: bold;
      color: #efc6be; }
  .clients__banner, .clients__article {
    height: 50%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .clients__banner img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .clients__article {
    padding: 20px;
    background: #fee9e5;
    font-family: "Metropolis", sans-serif;
    text-align: center; }
  .clients__txt {
    color: #343434;
    font-family: "Metropolis", sans-serif;
    font-size: 15px; }

.insta {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .insta__item {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: block;
    max-width: 40%; }
    .insta__item--large {
      width: auto !important; }
      .insta__item--large .insta__item__child {
        height: 100%; }
      .insta__item--large img {
        height: 100%;
        width: auto !important; }
    .insta__item__child {
      height: 50%;
      position: relative;
      display: block;
      overflow: hidden; }
      .insta__item__child:hover .insta__item__title {
        opacity: 1; }
      .insta__item__child:hover img {
        -webkit-transform: scale(1.05) translate(-50%, -50%);
        -ms-transform: scale(1.05) translate(-50%, -50%);
        transform: scale(1.05) translate(-50%, -50%); }
    .insta__item img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .insta__item__title {
      position: absolute;
      color: #fff;
      opacity: 0;
      top: 70%;
      z-index: 1;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Metropolis", sans-serif;
      font-weight: lighter;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

.services__item {
  margin: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 30px 50px;
  max-width: 32%;
  border: 1px solid #efc6be;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .services__item:hover {
    background: #fee9e5; }
  .services__item__title {
    color: #000;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: normal;
    font-family: "Metropolis", sans-serif;
    position: relative; }
    .services__item__title:before {
      content: "";
      background: #efc6be;
      height: 2px;
      width: 33%;
      margin: 10px auto;
      position: absolute;
      top: 80%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .services__item__icon {
    color: #efc6be;
    font-size: 35px;
    margin-right: 10px; }
  .services__item__txt {
    font-family: "Metropolis", sans-serif;
    margin: 10px auto;
    font-weight: normal;
    font-size: 18px; }

.newsForm {
  color: #282828;
  margin: 50px auto;
  display: block;
  text-align: center; }
  .newsForm__icon {
    font-size: 50px; }
  .newsForm__title {
    margin: 30px auto;
    font-family: "Metropolis", sans-serif;
    font-size: 30px;
    font-weight: lighter; }
  .newsForm__input {
    color: #282828;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    border: 1px solid;
    height: 50px;
    vertical-align: top;
    padding: 0 20px; }
  .newsForm__btn {
    background: #282828;
    color: #fff;
    text-transform: capitalize;
    padding: 0 30px;
    font-size: 25px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    height: 50px;
    line-height: 50px; }

.footer {
  background: #efc6be; }
  .footer__nav {
    font-family: "Metropolis", sans-serif;
    color: #2b2b2b;
    padding: 30px 0; }
    .footer__nav__menu {
      max-width: 25%; }
    .footer__nav__title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .footer__nav__item a {
      font-weight: lighter;
      text-transform: uppercase;
      line-height: 1.5; }
    .footer__nav__txt {
      margin: 15px 0;
      font-size: 18px; }
  .footer__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer__form__input {
      background: transparent;
      padding: 0 10px;
      color: #fff;
      line-height: 30px;
      border: 1px solid; }
    .footer__form__btn {
      background: #fff;
      border: none;
      color: #efc6be;
      font-family: "Metropolis", sans-serif;
      padding: 0 20px;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .footer__form__btn:hover {
        background: #efc6be;
        color: #fff; }

@media (max-width: 1600px) {
  .container {
    padding: 0 calc(10px + 2vw); }
  .insta__item img {
    width: auto;
    height: 100%; } }

@media (max-width: 1024px) {
  .footer__nav__menu {
    margin: 15px 0; }
  .services .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .services__item {
    max-width: 100%; }
  .welcome__article {
    width: 100%; }
  .footer__nav {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (max-width: 768px) {
  .container {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .header__nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__title {
    margin: 15px auto; }
  .intro__title {
    margin: 0; }
  .welcome__article {
    padding: 50px; }
  .products__slider__item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__nav__menu {
    max-width: 50%;
    width: 100%; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }
