<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>log in</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body class="body forgotPass">
<main class="main forgotPass__main">
    <div class="login__form">
        <img src="../src/assets/images/icons/logo.svg" alt="" class="login__logo">

        <label class="text-input-label" for="">
            <span class="table__td__txt">email</span>
            <input type="email" placeholder="Email address" class="text-input"/>
        </label>
        <div class="login__form__btn btn-prim">Send password reset link</div>
        <a href="#" class="link link-logIn">Back to log in</a>
    </div>
</main>

<script src="../dist/bundle.js"></script>
</body>
</html>
