<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>log in</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body class="body login">
<main class="main login__main">
    <div class="login__form">
        <img src="../src/assets/images/icons/logo.svg" alt="" class="login__logo">

        <label class="text-input-label" for="">
            <span class="table__td__txt">email</span>
            <input type="email" placeholder="Email address" class="text-input"/>
        </label>
        <label class="text-input-label" for="">
            <span class="table__td__txt">password</span>
            <input type="password" placeholder="password" class="text-input"/>
        </label>

        <div class="login__form__privacy">
            <label class="check-label" for="rememberMe">
                 <span class="check-input__wrap">
                    <input id="rememberMe" type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                <span class="section__txt">Remember me</span>
            </label>
            <a href="#" class="link">Forgot password?</a>

        </div>
        <div class="login__form__btn btn-prim">log in</div>
        <span class="section-txt text-align-center">Don’t have account yet?</span>
        <div class="login__form__btn btn-sec">create account</div>
    </div>
</main>

<script src="../dist/bundle.js"></script>
</body>
</html>
