<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body class="body">
<header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__list__item header__list__item--title">
                <i class="header__list__item__icon i-nav-dashboard"></i>
                <span class="section__txt">
                    dashboard
                </span>
            </li>
            <li class="header__list__item header__list__item--date">
             <span class="section__txt">
                 November 17
             </span>
            </li>
        </ul>
        <div class="header__list">
            <div class="header__user">
                <span class="section__txt">
                    JOHAN RONANSSON
                </span>
                <span class="header__user__icon ">
                    jr
                </span>
                <span class="header__user__logOut">
                    <!-- click add className 'header__user__logOut--active' -->
                    Log out
                </span>

            </div>
            <span class="header__notification">
                <i class="header__list__item__icon i-notifications"></i>
            </span>
        </div>
    </div>
</header>

<nav class="siteNav ">
    <a href="#" class="siteNav__logo">
        <img src="../src/assets/images/icons/logo.svg" alt="ottomatik" class="siteNav__logo__img">
    </a>
    <div>
        <span class="siteNav__pin">
            <i class="fa fa-thumb-tack"></i>
        </span>
        <ul class="siteNav__menu  ">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-admin"></i>
                <span class="siteNav__item__txt">Admin</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li>
                <a href="admin-customer.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-customers"></i>
                    <span class="siteNav__item__txt">Customers</span>
                </a>
            </li>
            <li>
                <a href="admin-user.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-admin-users"></i>
                    <span class="siteNav__item__txt">Users</span>
                </a>
            </li>
            <li>
                <a href="admin-plans.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-plans"></i>
                    <span class="siteNav__item__txt">Plans</span>
                </a>
            </li>
            <li>
                <a href="admin-ref.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-referrals"></i>
                    <span class="siteNav__item__txt">Referrals</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-backup-history.html">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">Job history</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-conductors.html">
                    <i class="siteNav__item__icon i-nav-admin-conductors"></i>
                    <span class="siteNav__item__txt">Conductors</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-announcements.html">
                    <i class="siteNav__item__icon i-nav-admin-announcements"></i>
                    <span class="siteNav__item__txt">Announcements</span>
                </a>
            </li>
        </ul>
        <ul class="siteNav__menu siteNav__menu--open">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-user"></i>
                <span class="siteNav__item__txt">User</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li class="siteNav__item siteNav__item--active">
                <a href="index.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-dashboard"></i>
                    <span class="siteNav__item__txt">Dashboard</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="history.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">History</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="jobs.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-jobs"></i>
                    <span class="siteNav__item__txt">Jobs</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="db.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-database"></i>
                    <span class="siteNav__item__txt">Databases</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="server.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-servers"></i>
                    <span class="siteNav__item__txt">Servers</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="storage.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-storage"></i>
                    <span class="siteNav__item__txt">Storage</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="users.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-user"></i>
                    <span class="siteNav__item__txt">Account</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="siteNav__item siteNav__settings">
        <i class="siteNav__item__icon i-nav-settings"></i>
        <span class="siteNav__item__txt">Settings</span>
    </div>
    <div class="siteNav__trial section__txt">
        14 trial days left
    </div>
    <i class="siteNav__openArrow fa fa-chevron-right"></i>
</nav>

<main class="main edit">
    <div class="container ">
         <span class="backTo-link">
            <i class="fa fa-chevron-left"></i>
            <span class="backTo-link__txt">
                cancel and back to list of Jobs
            </span>
        </span>
        <h2 class="section__title">
            New MySQL Backup Job
        </h2>


        <section class="section">

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        job details
                    </h2>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Name</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                        <span class="edit__label__desc">
                    Any name to remember this job by
                </span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Description</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                        <span class="edit__label__desc">
                    Optional
                </span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Server</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Storage</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Storage</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                        <span class="edit__label__desc">
                    Optional. This can be used to further group your backup files into an S3 folder
                </span>
                    </label>
                </div>
            </div>
            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        Connection details
                    </h2>
                    <label class="check-label check-label--toggle edit__label" for="">
                        <span class="check-input__wrap check-input__wrap--toggle">
                    <input   type="checkbox"/>
                    <span class="check-input__span check-input__span--toggle"></span>
                </span>
                        <span class="edit__label__name">Backup all databases on this server</span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Database</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">SSL CA</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                        <span class="edit__label__desc">
                            Path to PEM file of trusted SSL certificate authorities
                        </span>
                    </label>
                </div>
            </div>
            <div class="row edit__row edit__row--advanced ">
                <span class="link">
                    Advanced backup options
                    <i class="i-chevron-down"></i>
                </span>
                <div class="edit__row__cont edit__row__cont--open ">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Get structure</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Use drop syntax</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Get content</span>
                            </label>
                        </div>
                        <div>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Flush binary logs before backup</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Include stored procedures and functions</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Use quick option for large tables</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Skip locking the tables</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Backup using a single transaction</span>
                            </label>
                        </div>
                    </div>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Flush binary logs</span>
                        <span class="edit__label__desc">
                            Flush the MySQL server’s binlog files before
                            starting the backup. Requires the global RELOAD privilege:
                        </span>
                        <span class="edit__label__grant">
                            GRANT RELOAD ON *.* TO 'your_user'@'localhost'
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Include Stored Procedures and Functions</span>
                        <span class="edit__label__desc">
                            Requires the SELECT privilege for the mysql.proc table:
                        </span>
                        <span class="edit__label__grant">
                            GRANT SELECT ON mysql.proc TO 'your_user'@'localhost'
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Include Event Scheduler events</span>
                        <span class="edit__label__desc">
                            Requires the EVENT privilege:
                        </span>
                        <span class="edit__label__grant">
                            GRANT EVENT ON your_database.* TO 'your_user'@'localhost'
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Quick Option</span>
                        <span class="edit__label__desc">
                            Flush the MySQL server’s binlog files before
                            starting the backup. Requires the global RELOAD privilege:
                        </span>

                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Flush binary logs</span>
                        <span class="edit__label__desc">
                            Retrieve rows for a table from the server a row
                            at a time rather than retrieving the entire row
                            set and buffering it in memory before writing it out
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Skip locking tables</span>
                        <span class="edit__label__desc">
                            MySQLdump locks tables by default which can
                            block other applications. This option skips the table locking
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Use a single transaction</span>
                        <span class="edit__label__desc">
                            Dumps the consistent state of the database at the
                            time the database dump was started without blocking any applications.
                        </span>
                    </label>
                    <label class="check-label" for="">
                         <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                        <span class="edit__label__name">
                            Stream the backup file upload to your archive location
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Streaming file upload</span>
                        <span class="edit__label__desc">
                           Streams the backup file to your archive location as
                            it is created rather than temporarily writing the
                            file to disk and then uploading. Using this option
                            will make the backup process require zero disk
                            space on your server.
                        </span>

                        <span class="edit__label__desc">
                          Expected Upload Size (GB)
                        </span>
                        <input type="text" class="text-input" placeholder="100">
                    </label>


                    <label class="check-label" for="">
                         <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                        <span class="edit__label__name">
                            Allow SSH to disconnect while running this backup
                        </span>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Disconnected Backups</span>
                        <span class="edit__label__desc">
                           This feature runs the backup as a background process
                            on your server and then disconnects from the SSH
                            session. A periodic task then checks the backup
                            and updates the status accordingly.
                        </span>

                    </label>

                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        Auto restart
                    </h2>
                    <label class="check-label check-label--toggle edit__label" for="">
                        <span class="check-input__wrap check-input__wrap--toggle">
                    <input   type="checkbox"/>
                    <span class="check-input__span check-input__span--toggle"></span>
                </span>
                        <span class="edit__label__name">Restart Job automatically in case of failure</span>
                    </label>
                    <div class="row">
                        <label class="col-md-6 text-input-label edit__label" for="">
                            <span class="edit__label__name">Restart job after</span>
                            <select name="" class="text-input">
                                <option value="option-1">option-1</option>
                            </select>
                        </label>
                        <label class="col-md-6 text-input-label edit__label" for="">
                            <span class="edit__label__name">Number of restart attempts</span>
                            <select name="" class="text-input">
                                <option value="option-1">option-1</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        schedule
                    </h2>
                    <label class="check-label check-label--toggle edit__label" for="">
                        <span class="check-input__wrap check-input__wrap--toggle">
                    <input   type="checkbox"/>
                    <span class="check-input__span check-input__span--toggle"></span>
                </span>
                        <span class="edit__label__name">Specify schedule with cron syntax</span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Frequency</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                    </label>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Sunday</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Tuesday</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Thursday</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Saturday</span>
                            </label>
                        </div>
                        <label class="col-md-4">
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Monday</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Wednesday</span>
                            </label>
                            <label class="check-label" for="">
                                 <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                                <span class="edit__label__name">Friday</span>
                            </label>
                        </label>
                    </div>
                    <div class="row">
                        <label class="col-md-5 text-input-label edit__label" for="">
                            <span class="edit__label__name">Time</span>
                            <input type="date" class="text-input">
                        </label>
                        <label class="col-md-6 text-input-label edit__label" for="">
                            <span class="edit__label__name">Time zone</span>
                            <input type="datetime-local" class="text-input">
                        </label>
                    </div>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        retention
                    </h2>
                    <div class="row">
                        <label class="col-md-6 text-input-label edit__label" for="">
                <span class="edit__label__name">
                    Number of copies to be kept
                </span>
                            <span class="edit__label__desc">
                    Set to 0 (zero) for infinite backup file retention
                </span>
                        </label>
                        <label class="col-md-3 text-input-label edit__label" for="">
                            <input type="number" class="text-input"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        Activation
                    </h2>
                    <label class="check-label" for="">
                         <span class="check-input__wrap">
                    <input type="checkbox"/>
                    <span class="check-input__span"></span>
                </span>
                        <span class="edit__label__name">Pause this job upon creation</span>
                    </label>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        Notifications
                    </h2>
                    <span class="edit__label__desc">
                A comma separated list of email addresses to be notified of
                successful or failing runs of this backup job.
                Note: this is in addition to any users configured for notifications.
            </span>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Emails on success</span>
                        <textarea placeholder="" class="text-input edit__label__textarea"></textarea>
                    </label>
                    <label class="edit__label" for="">
                        <span class="edit__label__name">Emails on failure</span>
                        <textarea placeholder="" class="text-input edit__label__textarea"></textarea>
                    </label>
                </div>
            </div>
            <div class="edit__row edit__row--last row">
                <span class="btn-prim">create</span>
                <span class="btn-sec">cancel</span>
            </div>
        </section>

    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../dist/bundle.js"></script>

</body>
</html>
