<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body class="body">
<header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__list__item header__list__item--title">
                <i class="header__list__item__icon i-nav-dashboard"></i>
                <span class="section__txt">
                    dashboard
                </span>
            </li>
            <li class="header__list__item header__list__item--date">
             <span class="section__txt">
                 November 17
             </span>
            </li>
        </ul>
        <div class="header__list">
            <div class="header__user">
                <span class="section__txt">
                    JOHAN RONANSSON
                </span>
                <span class="header__user__icon ">
                    jr
                </span>
                <span class="header__user__logOut">
                    <!-- click add className 'header__user__logOut--active' -->
                    Log out
                </span>

            </div>
            <span class="header__notification">
                <i class="header__list__item__icon i-notifications"></i>
            </span>
        </div>
    </div>
</header>

<nav class="siteNav ">
    <a href="#" class="siteNav__logo">
        <img src="../src/assets/images/icons/logo.svg" alt="ottomatik" class="siteNav__logo__img">
    </a>
    <div>
        <span class="siteNav__pin">
            <i class="fa fa-thumb-tack"></i>
        </span>
        <ul class="siteNav__menu  ">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-admin"></i>
                <span class="siteNav__item__txt">Admin</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li>
                <a href="admin-customer.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-customers"></i>
                    <span class="siteNav__item__txt">Customers</span>
                </a>
            </li>
            <li>
                <a href="admin-user.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-admin-users"></i>
                    <span class="siteNav__item__txt">Users</span>
                </a>
            </li>
            <li>
                <a href="admin-plans.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-plans"></i>
                    <span class="siteNav__item__txt">Plans</span>
                </a>
            </li>
            <li>
                <a href="admin-ref.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-referrals"></i>
                    <span class="siteNav__item__txt">Referrals</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-backup-history.html">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">Job history</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-conductors.html">
                    <i class="siteNav__item__icon i-nav-admin-conductors"></i>
                    <span class="siteNav__item__txt">Conductors</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-announcements.html">
                    <i class="siteNav__item__icon i-nav-admin-announcements"></i>
                    <span class="siteNav__item__txt">Announcements</span>
                </a>
            </li>
        </ul>
        <ul class="siteNav__menu siteNav__menu--open">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-user"></i>
                <span class="siteNav__item__txt">User</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li class="siteNav__item siteNav__item--active">
                <a href="index.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-dashboard"></i>
                    <span class="siteNav__item__txt">Dashboard</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="history.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">History</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="jobs.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-jobs"></i>
                    <span class="siteNav__item__txt">Jobs</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="db.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-database"></i>
                    <span class="siteNav__item__txt">Databases</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="server.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-servers"></i>
                    <span class="siteNav__item__txt">Servers</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="storage.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-storage"></i>
                    <span class="siteNav__item__txt">Storage</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="users.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-user"></i>
                    <span class="siteNav__item__txt">Account</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="siteNav__item siteNav__settings">
        <i class="siteNav__item__icon i-nav-settings"></i>
        <span class="siteNav__item__txt">Settings</span>
    </div>
    <div class="siteNav__trial section__txt">
        14 trial days left
    </div>
    <i class="siteNav__openArrow fa fa-chevron-right"></i>
</nav>

<main class="main edit ">
    <div class="container ">
         <span class="backTo-link">
            <i class="fa fa-chevron-left"></i>
            <span class="backTo-link__txt">
                cancel and back to list of Jobs
            </span>
        </span>
        <h2 class="section__title">
            New MySQL Binlog Backup Job
        </h2>

        <section class="section">
            <div class="row edit__row--first">
                <div class="tooltip--error">
                    This feature requires settings to be updated in
                    your MySQL Config file and a subsequent restart of MySQL.
                </div>

                <div class="link-icon">
                    Click here for MySQL configuration instructions
                </div>

                <div class="tooltip--success">
                    This backup routine will configure a remote container
                    which will connect to your server and monitor the MySQL
                    Binary Logs. Any changes to your database will be
                    replicated in real time to the remote container.
                    The updated logs will be uploaded to the Archive
                    Location according to the Sync Wait Time specified below.
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        job details
                    </h2>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Name</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                        <span class="edit__label__desc">
                    Any name to remember this job by
                </span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Description</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                        <span class="edit__label__desc">
                    Optional
                </span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Storage</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Storage</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                        <span class="edit__label__desc">
                    Optional. This can be used to further group your backup files into an S3 folder
                </span>
                    </label>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        Connection details
                    </h2>
                    <label class="check-label check-label--toggle edit__label" for="">
                        <span class="check-input__wrap check-input__wrap--toggle">
                    <input   type="checkbox"/>
                    <span class="check-input__span check-input__span--toggle"></span>
                </span>
                        <span class="edit__label__name">Backup all databases on this server</span>
                    </label>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Database</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                    </label>
                </div>
            </div>



            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        Archive Sync Configuration Details
                    </h2>
                    <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">Sync Wait Time</span>
                        <select name="" class="text-input">
                            <option value="option-1">option-1</option>
                        </select>
                        <span class="edit__label__desc">
                            The remote binlog process will replicate changes from your
                            database in real-time. The sync wait time refers to
                            the wait time between each cycle of syncing the replicated
                            files to your storage Archive.
                        </span>
                    </label>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <h2 class="edit__row__title section__txt">
                        retention
                    </h2>
                    <div class="row">
                        <label class="col-md-6 text-input-label edit__label" for="">
                <span class="edit__label__name">
                    Number of copies to be kept
                </span>
                            <span class="edit__label__desc">
                    Set to 0 (zero) for infinite backup file retention
                </span>
                        </label>
                        <label class="col-md-3 text-input-label edit__label" for="">
                            <input type="number" class="text-input"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="edit__row edit__row--last row">
                <span class="btn-prim">create</span>
                <span class="btn-sec">cancel</span>
            </div>
        </section>

    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../dist/bundle.js"></script>

</body>
</html>
