<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body class="body">
<header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__list__item header__list__item--title">
                <i class="header__list__item__icon i-nav-dashboard"></i>
                <span class="section__txt">
                    dashboard
                </span>
            </li>
            <li class="header__list__item header__list__item--date">
             <span class="section__txt">
                 November 17
             </span>
            </li>
        </ul>
        <div class="header__list">
            <div class="header__user">
                <span class="section__txt">
                    JOHAN RONANSSON
                </span>
                <span class="header__user__icon ">
                    jr
                </span>
                <span class="header__user__logOut">
                    <!-- click add className 'header__user__logOut--active' -->
                    Log out
                </span>

            </div>
            <span class="header__notification">
                <i class="header__list__item__icon i-notifications"></i>
            </span>
        </div>
    </div>
</header>

<nav class="siteNav ">
    <a href="#" class="siteNav__logo">
        <img src="../src/assets/images/icons/logo.svg" alt="ottomatik" class="siteNav__logo__img">
    </a>
    <div>
        <span class="siteNav__pin">
            <i class="fa fa-thumb-tack"></i>
        </span>
        <ul class="siteNav__menu  ">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-admin"></i>
                <span class="siteNav__item__txt">Admin</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li>
                <a href="admin-customer.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-customers"></i>
                    <span class="siteNav__item__txt">Customers</span>
                </a>
            </li>
            <li>
                <a href="admin-user.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-admin-users"></i>
                    <span class="siteNav__item__txt">Users</span>
                </a>
            </li>
            <li>
                <a href="admin-plans.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-plans"></i>
                    <span class="siteNav__item__txt">Plans</span>
                </a>
            </li>
            <li>
                <a href="admin-ref.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-referrals"></i>
                    <span class="siteNav__item__txt">Referrals</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-backup-history.html">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">Job history</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-conductors.html">
                    <i class="siteNav__item__icon i-nav-admin-conductors"></i>
                    <span class="siteNav__item__txt">Conductors</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-announcements.html">
                    <i class="siteNav__item__icon i-nav-admin-announcements"></i>
                    <span class="siteNav__item__txt">Announcements</span>
                </a>
            </li>
        </ul>
        <ul class="siteNav__menu siteNav__menu--open">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-user"></i>
                <span class="siteNav__item__txt">User</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li class="siteNav__item siteNav__item--active">
                <a href="index.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-dashboard"></i>
                    <span class="siteNav__item__txt">Dashboard</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="history.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">History</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="jobs.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-jobs"></i>
                    <span class="siteNav__item__txt">Jobs</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="db.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-database"></i>
                    <span class="siteNav__item__txt">Databases</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="server.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-servers"></i>
                    <span class="siteNav__item__txt">Servers</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="storage.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-storage"></i>
                    <span class="siteNav__item__txt">Storage</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="users.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-user"></i>
                    <span class="siteNav__item__txt">Account</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="siteNav__item siteNav__settings">
        <i class="siteNav__item__icon i-nav-settings"></i>
        <span class="siteNav__item__txt">Settings</span>
    </div>
    <div class="siteNav__trial section__txt">
        14 trial days left
    </div>
    <i class="siteNav__openArrow fa fa-chevron-right"></i>
</nav>

<main class="main serverDetails">
    <div class="container ">
         <span class="backTo-link">
            <i class="fa fa-chevron-left"></i>
            <span class="backTo-link__txt">
                back to list of Servers
            </span>
        </span>
        <div class="space-between section__head serverDetails__head">
            <h2 class="section__title">
                Server:
                <span class="section__head__blue">snowy-river</span>
            </h2>
            <div>
                <span class="btn-sec">
                    delete
                </span>
                <span class="btn-prim">edit server</span>
            </div>
        </div>
        <div class="db-detail__topBtns">
            <span class="btn-sec">
               All jobs on server
            </span>
            <span class="btn-sec">
                History of backups
            </span>
        </div>
        <div class="container">
            <div class="serverDetails__row serverDetails__row--file row">
                <section class="section serverDetails__row__section section--details">
                    <span class="jobs__section__title section__txt">
                        3 Databases on this server
                    </span>
                    <div>
                        <label class="section__label">
                            <span class="section__label__name">Last backup:</span>
                            <span class="section__label__val">database-name-1</span>
                        </label>
                        <label class="section__label">
                            <span class="btn-sec">
                               All jobs on server
                            </span>
                            <span class="btn-sec">
                                History of backups
                            </span>
                        </label>
                    </div>
                </section>
                <section class="section serverDetails__row__section">
                    <span class="jobs__section__title section__txt">
                        5 filesets on this server
                    </span>
                    <div>
                        <label class="section__label">
                            <span class="section__label__name">
                                <span class="status status--error ">error</span>
                            </span>
                            <span class="section__label__val">Fileset-name-1</span>
                        </label>
                        <label class="section__label">
                            <span class="btn-sec">
                               see filesets on server
                            </span>
                            <span class="btn-sec">
                                Add Fileset
                            </span>
                        </label>
                    </div>
                </section>
            </div>
        </div>

        <div class="container section">
            <div class="edit__row__cont edit__row__cont--full">
                <h2 class="edit__row__title section__txt">
                    Configure SSH and dependencies
                </h2>
                <div class="text-input-label edit__label">
                        <span class="edit__label__name">
                            Copy the command below and run it on your server's command line
                        </span>
                    <div class="space-between">
                        <div class="text-input--readOnly text-input">
                            curl -sSL https://ottomatik.io/scripts/install_ssh.sh |
                            sudo bash -s -- https://ottomatik.io/key-auth/dRJlj8KwqoYDAb4
                        </div>
                        <span class="btn-sec">copy</span>
                    </div>
                    <span class="edit__label__desc">
                            This bash script will install your SSH key,
                            dependencies, and help configure your database if desired.
                        </span>
                </div>
                <label class="text-input-label edit__label" for="">
                        <span class="edit__label__name">
                            Status:
                            <span class="status status--pending">
                                Waiting for server to check-in
                            </span>
                        </span>
                </label>
                <span class="btn-sec">Install the SSH Key and dependencies manually</span>
            </div>

        </div>
        <section class="section section--table">
              <span class="jobs__section__title section__txt">
                 job backup history
              </span>
            <div class="table-cont">
                <table class="table table--backup ">
                    <tbody class="table__body container">
                    <tr class="table__tr table__tr--success row">
                        <td class="table__td">
                            <i class="table__td__icon i-success"></i>
                        </td>
                        <td class="table__td col-md-3 col-sm-3 col-3 ">
                <span class="table__td__txt">
                    General_Backup_for_WWW_MySQL
                </span>
                        </td>
                        <td class="table__td col-md-1 col-sm-1 col-1 ">
                            <i class="table__td__icon i-mysql"></i>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                    172.64.19.630
                </span>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                   10:23 10/12/2018
                </span>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                   10:23 10/12/2018
                </span>
                        </td>
                        <td class="table__td col-md-1 col-sm-1 col-1 ">
                <span class="table__td__arrow">
                <i class="table__td__icon i-chevron-down"></i>
                </span>
                        </td>

                    </tr>
                    <tr class="table__tr table__tr--success row">
                        <td class="table__td">
                            <i class="table__td__icon i-success"></i>
                        </td>
                        <td class="table__td col-md-3 col-sm-3 col-3 ">
                <span class="table__td__txt">
                    General_Backup_for_WWW_MySQL
                </span>
                        </td>
                        <td class="table__td col-md-1 col-sm-1 col-1 ">
                            <i class="table__td__icon i-mysql"></i>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                    172.64.19.630
                </span>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                   10:23 10/12/2018
                </span>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                   10:23 10/12/2018
                </span>
                        </td>
                        <td class="table__td text-align-right col-md-1 col-sm-1 col-1 ">
                            <i class="table__td__icon i-search"></i>
                        </td>

                    </tr>
                    <tr class="table__tr table__tr--fail table__tr--open row">
                        <td class="table__td">
                            <i class="table__td__icon i-close"></i>
                        </td>
                        <td class="table__td col-md-3 col-sm-3 col-3 ">
                <span class="table__td__txt">
                    General_Backup_for_WWW_MySQL
                </span>
                        </td>
                        <td class="table__td col-md-1 col-sm-1 col-1 ">
                            <i class="table__td__icon i-mysql"></i>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                    172.64.19.630
                </span>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                   10:23 10/12/2018
                </span>
                        </td>
                        <td class="table__td col-md-2 col-sm-2 col-2 ">
                <span class="table__td__txt">
                   10:23 10/12/2018
                </span>
                        </td>
                        <td class="table__td col-md-1 col-sm-1 col-1 ">
                <span class="table__td__arrow">
                <i class="table__td__icon i-chevron-down"></i>
                </span>
                        </td>
                        <td class="table__td table__td--full">
                            <div class="space-between row">
                  <span class="col-md-8 col-sm-8 col-8  section__txt">
                      Output
                  </span>
                                <div class="col-md-4 col-sm-4 col-4  space-between">
                      <span class="table__td__txt">
                          2/3 attempt in 0:15
                          <i class="i-close-sm i-close"></i>
                      </span>
                                    <span class="btn-sec">run job now again</span>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-md-5 col-sm-5 col-5  section__txt">
                                    Connected via SSH to root@142.93.17.144:22
                                    OS identified as ubuntu 16.04
                                    OS package manager identified as apt
                                    Python found at version: 2.7.12
                                    Python version (2.7.12) is sufficient
                                    Python PIP found with sufficient version (18.0.)
                                    PIP package python-dateutil found at 2.7.3 OK
                                    PIP package futures found at 3.2.0
                                    OK PIP package awscli found at 1.15.66 OK
                                    Validating database connection MySQL with 'SHOW TABLES'
                                    query... Database connection OK Creating backup directory:
                                    /root/.ottomatik_ops_dir/mysqldump Executing mysqldump, gzipping
                                    output, and streaming upload... mysqldump command successfully
                                    composed #############[ FATAL ERROR ]############# Credentials
                                    must be an instance of Aws\Credentials\CredentialsInterface, an
                                    associative array that contains "key", "secret", and an optional
                                    "token" key-value pairs, a credentials provider function, or false.
                                </p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../dist/bundle.js"></script>

</body>
</html>