<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body class="body">
<header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__list__item header__list__item--title">
                <i class="header__list__item__icon i-nav-dashboard"></i>
                <span class="section__txt">
                    dashboard
                </span>
            </li>
            <li class="header__list__item header__list__item--date">
             <span class="section__txt">
                 November 17
             </span>
            </li>
        </ul>
        <div class="header__list">
            <div class="header__user">
                <span class="section__txt">
                    JOHAN RONANSSON
                </span>
                <span class="header__user__icon ">
                    jr
                </span>
                <span class="header__user__logOut">
                    <!-- click add className 'header__user__logOut--active' -->
                    Log out
                </span>

            </div>
            <span class="header__notification">
                <i class="header__list__item__icon i-notifications"></i>
            </span>
        </div>
    </div>
</header>

<nav class="siteNav ">
    <a href="#" class="siteNav__logo">
        <img src="../src/assets/images/icons/logo.svg" alt="ottomatik" class="siteNav__logo__img">
    </a>
    <div>
        <span class="siteNav__pin">
            <i class="fa fa-thumb-tack"></i>
        </span>
        <ul class="siteNav__menu  ">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-admin"></i>
                <span class="siteNav__item__txt">Admin</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li>
                <a href="admin-customer.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-customers"></i>
                    <span class="siteNav__item__txt">Customers</span>
                </a>
            </li>
            <li>
                <a href="admin-user.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-admin-users"></i>
                    <span class="siteNav__item__txt">Users</span>
                </a>
            </li>
            <li>
                <a href="admin-plans.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-plans"></i>
                    <span class="siteNav__item__txt">Plans</span>
                </a>
            </li>
            <li>
                <a href="admin-ref.html" class="siteNav__item ">
                    <i class="siteNav__item__icon i-nav-admin-referrals"></i>
                    <span class="siteNav__item__txt">Referrals</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-backup-history.html">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">Job history</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-conductors.html">
                    <i class="siteNav__item__icon i-nav-admin-conductors"></i>
                    <span class="siteNav__item__txt">Conductors</span>
                </a>
            </li>
            <li>
                <a class='siteNav__item' href="admin-announcements.html">
                    <i class="siteNav__item__icon i-nav-admin-announcements"></i>
                    <span class="siteNav__item__txt">Announcements</span>
                </a>
            </li>
        </ul>
        <ul class="siteNav__menu siteNav__menu--open">
            <li class="siteNav__item siteNav__item--big">
                <i class="siteNav__item__icon i-user"></i>
                <span class="siteNav__item__txt">User</span>
                <i class="siteNav__item__icon i-chevron-down"></i>
            </li>
            <li class="siteNav__item siteNav__item--active">
                <a href="index.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-dashboard"></i>
                    <span class="siteNav__item__txt">Dashboard</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="history.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-calendar"></i>
                    <span class="siteNav__item__txt">History</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="jobs.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-jobs"></i>
                    <span class="siteNav__item__txt">Jobs</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="db.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-database"></i>
                    <span class="siteNav__item__txt">Databases</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="server.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-servers"></i>
                    <span class="siteNav__item__txt">Servers</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="storage.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-storage"></i>
                    <span class="siteNav__item__txt">Storage</span>
                </a>
            </li>
            <li class="siteNav__item">
                <a href="users.html" class="siteNav__item">
                    <i class="siteNav__item__icon i-nav-user"></i>
                    <span class="siteNav__item__txt">Account</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="siteNav__item siteNav__settings">
        <i class="siteNav__item__icon i-nav-settings"></i>
        <span class="siteNav__item__txt">Settings</span>
    </div>
    <div class="siteNav__trial section__txt">
        14 trial days left
    </div>
    <i class="siteNav__openArrow fa fa-chevron-right"></i>
</nav>

<main class="main edit ">
    <div class="container ">
         <span class="backTo-link">
            <i class="fa fa-chevron-left"></i>
            <span class="backTo-link__txt">
                cancel and back to list of Storages
            </span>
        </span>
        <h2 class="section__title">
            Add new Dropbox Storage
        </h2>

        <section class="section">
            <div class="row edit__row--first">
                <div class="tooltip--success">
                    Archives are 3rd party cloud storage locations
                    where you would like to save the resulting output
                    of backup routines etc. You provide Ottomatik
                    with the credentials and we take care of the
                    rest. Currently we support: Amazon S3 and
                    S3-compatible storage providers.
                </div>
                <div class="link-icon">
                    How to setup Amazon S3
                </div>
            </div>

            <div class="row edit__row ">
                <div class="edit__row__cont ">
                    <label class="text-input-label edit__label" >
                        <span class="edit__label__name">Name</span>
                        <input type="text" placeholder="text input" class="text-input"/>
                    </label>
                    <div class="text-input-label edit__label ">
                        <span class="edit__label__name">AWS S3 Bucket Name or Path</span>
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" placeholder="text input" class="text-input mt-0"/>
                                <span class="edit__label__desc">
                                You may enter just the bucket name here.
                                OR if you'd like to use a sub-folder inside
                                a bucket, enter the bucket name and folder path
                                all together (i.e. bucket-name/some/folder)
                            </span>
                            </div>
                            <span class="btn-sec col-md-3">get token</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row edit__row">
                <div class="edit__row__cont">
                    <label class="check-label check-label--toggle edit__label" for="">
                        <span class="check-input__wrap check-input__wrap--toggle">
                            <input   type="checkbox"/>
                            <span class="check-input__span check-input__span--toggle"></span>
                        </span>
                        <span class="edit__label__name">Set data usage alert</span>
                    </label>

                    <label class="check-label check-label--toggle edit__label" for="">
                        <span class="edit__label__name col-md-6">Notify me when storage is</span>
                        <input type="number" placeholder="number input" class="text-input col-md-3"/>
                        <span class="edit__label__name col-md-3">GB full</span>
                    </label>
                </div>
            </div>

            <div class="edit__row edit__row--last row">
                <span class="btn-prim">add storage</span>
                <span class="btn-sec">cancel</span>
            </div>
        </section>

    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../dist/bundle.js"></script>

</body>
</html>
